<div class="info">Your page depth is {{depth}}</div>
<ul class="list">
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
	<li onclick="template.goto('testpage', {data:{depth:template.depth}})">Next</li>
</ul>